<div class="background-container">
    <div class="title">
        <p>MY SCORE</p>
    </div>
    <div class="container-department">
        <div class="create-cp-card">
            <app-department-create-form [visibleDialog]="dialogVisibleValue"
                (dialogVisibleChange)="handleCloseDialog($event)"></app-department-create-form>
            <p-card (click)="handleOpenDialog()">
                <i class="fa fa-plus"></i>
                <h3 class="text">Tạo phòng ban</h3>
            </p-card>
        </div>
        @if(listDepartmentsData$ | async; as listDepartments) {
            @for (department of listDepartments; track department.id) {
                <p-card (click)="navigateToDepartment(department)" header="{{ department.name }}">
                </p-card>
            }
        }
    </div>
</div>