<div class="container-header">
    <div class="main-account">
        @if(selectDepartmentData$ | async; as departments) {
            <p-dropdown [options]="departments" formControlName="selectedDepartment" optionLabel="name"/>
        }
        <div class="action" (click)="op.toggle($event)">
            <img [src]="authService.authState.value?.avatar">
            <div class="panel">
                <p-overlayPanel #op>
                    <a href="javascript:void(0);" class="text-red" (click)="logOut()">
                        <i class="fa-solid fa-right-to-bracket"></i> Đăng xuất
                    </a>
                </p-overlayPanel>
            </div>
        </div>
    </div>
</div>
