<div class="container-header">
    <div class="main-account">
        <div class="select-department">
            @if(selectDepartmentData$ | async; as departments) {
                <form [formGroup]="formGroup">
                    <p-dropdown 
                    (onChange)="changeValueDropDown($event)" 
                    [options]="departments" 
                    formControlName="selectedDepartment" 
                    optionLabel="name"
                    />
                </form>
            }
            <p-button (click)="linkToChooseDepartment()" label="Thêm, chọn phòng ban"></p-button>
        </div>
       
        <div class="action" (click)="op.toggle($event)">
            <img [src]="authService.authState.value?.avatar">
            <div class="panel">
                <p-overlayPanel #op>
                    <a href="javascript:void(0);" class="text-red" (click)="logOut()">
                        <i class="fa-solid fa-right-to-bracket"></i> Đăng xuất
                    </a>
                </p-overlayPanel>
            </div>
        </div>
    </div>
</div>
