.container-header {
    background-color: #f9f9f9;
    margin-bottom: 20px;

    .main-account {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 25px;
        .select-department {
            display: flex;
            .p-dropdown {
                width: 10rem;
                margin-right: 24px;
            }

            .select-department-link {
                text-decoration: none;
                color: #ffffff;
                line-height: 100%;
            }
        }

        

        .action {
            display: flex;
            align-items: center;
            justify-content: end;
        }

        img {
            max-width: 40px;
            cursor: pointer;
            border-radius: 100%;
        }

        i {
            cursor: pointer;
            font-size: 20px;
        }

        .panel {
            position: relative;
        }
    }
}