<div class="container-dashboard">
    @if(userOrganizationProfileData$ | async; as user) {
    <div class="profile">
        <p-card>
            <div class="avatar">
                <img [src]="user.profilePicture">
            </div>
            <div class="infor">
                <ul>
                    <li><i class="fa fa-envelope"></i> {{ user.email }}</li>
                    <li><i class="fa fa-user"></i> {{ user.userName }}</li>
                    <li><i class="fa fa-users"></i> {{ user.organizationName }}</li>
                    <li><i class="fa fa-envelope"></i>{{ user.positionTitle }}</li>
                    <li><i class="fa fa-envelope"></i> {{ user.evaluationStatus }}</li>
                </ul>
            </div>
        </p-card>
    </div>
    <div class="rating-summary">
        <p-card header="Rating Summary">
            <div class="chart">
                <p-chart type="bar" [data]="chartData" [options]="horizontalOptions" />
            </div>
            <div class="criteria-data-main">
                <div class="criteria-title"></div>
                <div class="criteria-data"></div>
            </div>
        </p-card>
    </div>
    }
</div>