<div class="container-dashboard">
    @if(employeeInfoData$ | async; as employeeInfo) {
    <div class="profile">
        <p-card>
            <div class="avatar">
                <img [src]="user.avatar">
            </div>
            <div class="infor">
                <ul>
                    <li><i class="fa fa-envelope"></i> {{ user.email }}</li>
                    <li><i class="fa fa-user"></i> {{ user.userName }}</li>
                    <li><i class="fa fa-envelope"></i>{{ employeeInfo.jobTitle }}</li>
                </ul>
            </div>
        </p-card>
    </div>
   
    }
    <div class="rating-summary">
        <p-card header="Rating Summary">
            <div class="chart">
                 <p-chart type="radar" [data]="chartData" [options]="radarOptions" />
            </div>
            <div class="criteria-data-main">
                <div class="criteria-title"></div>
                <div class="criteria-data"></div>
            </div>
        </p-card>
    </div>
</div>