html {
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  box-sizing: content-box;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
}

 .d-flex {
    display: flex;
  }

  .font-bold {
    font-weight: bold;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  //css prime ng
  // margin top for float label
.p-floatLabel-mt-1 {
  span {
    margin-top: 2.5rem !important;
  }
}

//css p-overlaypanel 
.p-overlaypanel {
  position: absolute;
  margin-top: 10px;
  top: 0;
  right: 24px !important;
  left: auto !important;
  --overlayArrowLeft: 82.890625px !important;
  
  .p-overlaypanel-content {
    padding: 68px;
  }
}

.p-overlaypanel:after, .p-overlaypanel:before {
  bottom: 100%;
  left: calc(var(--overlayArrowLeft, 0) + 6rem) !important;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
