html {
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  box-sizing: content-box;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
}

 .d-flex {
    display: flex;
  }

  .font-bold {
    font-weight: bold;
  }

  .font-weight-500 {
    font-weight: 500;
  }

