<div class="container-score-detail">
    @if(loadingService.loading$ | async) {
        <div class="progress-spinner">
            <p-progressSpinner ariaLabel="loading"/>
        </div>
    }

    @if(visibleReviewEmployee$ | async; as visible) {
        <app-employee-score-review-form
        [visiableReviewEmployeeForm]="visible"
        [userIdReview]="userInfoData.id"
        [categories]="categories"
        [scores]="scoreDetailDataDetail"
        (visibleEventChange)="closeReviewDialog($event)"></app-employee-score-review-form>
    }
    <p-table #dt2 [value]="scoreDetailData" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="search">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="fa fa-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" placeholder="Tìm kiếm" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Email</th>
                @for(column of displayColumns; track column) {
                <th>{{ column }}</th>
                }
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td class="info">
                    <img [src]="data.avatar" /> 
                    {{ data.email }}
                </td>
                @for(score of data.scoreArray; track score; let i = $index) {
                    @if(displayColumns[i] == score.categoryName) {
                        <td>{{ score.scoreCalculated }}</td>
                    }
                }
                <td>
                    <div class="button-action-score">
                        @if(data.userId != userId) {
                            <p-button (click)="openReviewDialog(data)" label="Cập nhật điểm" severity="warning" />
                            }
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Chưa có dữ liệu</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="pagination">
        <span class="mx-1 text-color">số lượng trong trang: </span>
        <p-dropdown [options]="pagingOptions.pageSizeOptions" 
                    optionLabel="label" 
                    optionValue="value" 
                    [(ngModel)]="pagingOptions.pageSize" 
                    (ngModelChange)="0" />
        <p-paginator [rows]="pagingOptions.pageSize" 
                     [totalRecords]="totalCountData" 
                     (onPageChange)="paginatorSubject.next()" 
                     [showCurrentPageReport]="true" 
                     currentPageReportTemplate="{first} - {last} of {totalRecords}" 
                     [showPageLinks]="false" 
                     [showFirstLastIcon]="false">
        </p-paginator>
    </div>
</div>