app-employee,
app-score-detail {
    .info {
        display: flex;
        align-items: center;
        img {
            max-width: 38px;
            cursor: pointer;
            border-radius: 100%;
            margin-right: 8px;
        }
    }
    
    .container-employee-department,
    .container-score-detail {
        height: 100%;
        padding: 0 32px;
        .search {
            display: flex;
            align-items: center;
            input {
                padding: 10px 32px;
            }
            .p-input-icon {
                margin-top: -10px !important;
            }
        }
    }
    th {
        width: 10%;
    }
    p-table {
        min-width: 75rem;
    }
    td {
        min-height: 70px;
    }
}

.header-action {
    display: flex;
    .button-add {
        right: 0;
        position: absolute;
        margin-right: 50px;
    }
    .p-dialog {
        width: 470px;
        height: 300px;
    }
}

.button-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 93%;
    margin-bottom: 15px;
    .p-button {
        width: 100%;
    }
}

.p-autocomplete {
    display: block !important;
    margin-top: 15px;
    input {
        width: 100%;
    }
}

.p-float-label {
    input {
        width: 100%;
    }
}

.p-dialog .p-dialog-header .p-dialog-title {
    width: 100% !important;
    text-align: center !important;
    font-size: 22px !important;
}

.text-span {
    font-size: 16px;
}

.box-select {
    height: 50px;
    align-items: self-start;
    display: flex;
    img {
        width: 50px !important;
    }
    .info {
        margin-left: 8px;
    }
}

.title {
    margin-top: 25px;
}

.button-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    button {
        margin-left: 10px;
    }
}