.review-user-container {
    .dialog-container {
        .p-dialog {
            width: 25%;
        }
        button {
            float: right;
            margin-top: 16px;
        }
    }
}