<div class="background">
    <div class="register-organization-container">
        <h2>Đăng ký tạo tổ chức quản lý đánh giá</h2>
        <form [formGroup]="registerForm" (submit)="formSubmitSubject.next()">
            <p-floatLabel class="form-group">
                <input formControlName="name" type="text" pInputText [(ngModel)]="organization">
                <label for="name">Tên tổ chức:</label>
            </p-floatLabel><br>
            <p-floatLabel class="form-group">
                <input formControlName="name" type="text" pInputText [(ngModel)]="code">
                <label for="code">Mã tổ chức:</label>
            </p-floatLabel><br>
            <p-floatLabel class="form-group">
                <input formControlName="name" type="text" pInputText [(ngModel)]="code">
                <label for="code">Chức danh:</label>
            </p-floatLabel><br>
            <button type="submit"><i class="fa fa-arrow-right"></i>Xác nhận</button>
        </form>
    </div>
</div>