<div class="background">
    <div class="register-organization-container">
        <h2>Đăng ký tạo tổ chức quản lý đánh giá</h2>
        <form [formGroup]="registerForm" (submit)="formSubmitSubject.next()">
            <div class="form-group">
                <label for="name">Tên tổ chức:</label>
                <input formControlName="name" type="text">
            </div>
            <div class="form-group">
                <label for="code">Mã tổ chức:</label>
                <input formControlName="code" type="text">
            </div>
            <div class="form-group">
                <label for="code">Chức danh:</label>
                <input formControlName="positionTitle" type="text">
            </div>
            <button type="submit"><i class="fa fa-arrow-right"></i>Xác nhận</button>
        </form>
    </div>
</div>