<div class="login-container container-fluid p-0">
    <!-- <p-progressSpinner ariaLabel="loading"></p-progressSpinner> -->
    <div class="row m-0 d-flex align-items-center">
      <div class="col-lg-3 col-sm-4 offset-lg-5 offset-sm-2 login-form-container">
        <div class="login-form-container-content">
          <h2 class="login-title">Đăng nhập</h2>
          
          <div id="g_id_onload"
            data-client_id="770742140694-g5vhl81cobbs32tcmb2p29hrlmscq31c.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-auto_prompt="false">
        </div>
        <p>Đăng nhập bằng tài khoản Google</p>
        <asl-google-signin-button></asl-google-signin-button>
        </div>
      </div>
    </div>
    <script src="https://accounts.google.com/gsi/client" async></script>
</div>