<div class="container-employee-edit">
    <p-dialog header="Chỉnh sửa nhân viên" [modal]="true" [visible]="visibleEditEmployeeForm" (visibleChange)="closeDialog()" [draggable]="false">
        <form [formGroup]="employeeEditForm" class="employee-edit-form" (ngSubmit)="formSubmitSubject.next()">
            <span class="p-text-secondary block mb-5">Cập nhật thông tin nhân viên</span>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="jobTitle" class="font-semibold w-6rem">Chức danh</label>
                <input pInputText id="jobTitle" class="flex-auto" autocomplete="off" formControlName="jobTitle" />
            </div>
        </form>
    </p-dialog>
</div>