<div class="container review-user-container">
    <p-table [value]="organizationUser" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Tên người dùng</th>
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.userName}}</td>
                <td><p-button (click)="openReviewDialog(user.userId)" label="Đánh giá người dùng" /></td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog class="dialog-container container" header="Thêm tiêu chí" [modal]="true" [(visible)]="reviewUserDialog" [draggable]="false">
        <span class="p-text-secondary block mb-5">Nhập điểm người dùng</span>
        <form [formGroup]="addScoreForm" (submit)="formSubmitSubject.next()">
            @for (category of categoriesSkill; track category) {
                <p-panel [header]="category.name" [toggleable]="true" [collapsed]="true">
                        <div formArrayName="entries">
                            @for (item of entries.controls; track $index) {
                                @if(category.categoryChildren[$index]?.name){
                                    <div [formGroupName]="$index">
                                        <p>{{category.categoryChildren[$index].name}}</p>
                                        <p-inputNumber (value)="userScore[$index].scoreEntered" formControlName="scoreEntered" mode="decimal" [minFractionDigits]="1"/>
                                    </div>
                                }
                                
                            }
                        </div>
                </p-panel>
            }
            <p-button type="submit" label="Xác nhận" />
        </form>
    </p-dialog>
</div>